[Desktop Entry]
Encoding=UTF-8
Name=KFileReplace
Name[x-test]=xxKFileReplacexx
Exec=kfilereplace %i -caption "%c"
Icon=kfilereplace
Type=Application
DocPath=kfilereplace/index.html
Terminal=false
GenericName=Search & Replace Tool
GenericName[fr]=Outil de recherche et de remplacement
GenericName[x-test]=xxSearch & Replace Toolxx
Categories=Qt;KDE;Utility;X-KDE-Utilities-File;
