[Desktop Entry]
Type=Service
Encoding=UTF-8
MimeType=inode/directory
Icon=kfilereplace.png
ServiceTypes=KParts/ReadOnlyPart
X-KDE-Library=libkfilereplacepart
Comment=A batch search and replace tool
Comment[el]= Εργαλείο πολλαπλής αναζήτησης και αντικατάστασης
Comment[fr]=Un outil de recherche et de remplacement de texte en série.
Comment[x-test]=xxA batch search and replace toolxx
Name=KFileReplace
Name[x-test]=xxKFileReplacexx
GenericName=File Replace View
GenericName[el]=Προβολή αντικατάστασης αρχείου
GenericName[fr]=Remplacement de fichiers
GenericName[x-test]=xxFile Replace Viewxx
