[Desktop Entry]
Name=KFileReplace
Exec=kfilereplace %i -caption %c
Icon=kfilereplace
Type=Application
X-DocPath=kfilereplace/index.html
Terminal=false
GenericName=Search & Replace Tool
Categories=Qt;KDE;Utility;X-KDE-Utilities-File;
