[Desktop Entry]
Type=Service
MimeType=inode/directory;
Icon=kfilereplace.png
X-KDE-ServiceTypes=KParts/ReadOnlyPart
X-KDE-Library=libkfilereplacepart
Comment=A batch search and replace tool
Comment[ca]=Una eina de cerca i substitució per lots
Comment[cs]=Dávkový nástroj pro hledání a nahrazování
Comment[da]=Søg- og erstat-gruppekørselsværktøj
Comment[de]=Ein Werkzeug zum Suchen und Ersetzen im Stapelbetrieb
Comment[el]= Εργαλείο πολλαπλής αναζήτησης και αντικατάστασης
Comment[es]=Una herramienta de búsqueda y reemplazo por lotes
Comment[et]=Otsimise ja asendamise tööriist
Comment[eu]=Bilaketa eta ordezkapen tresna
Comment[fa]=ابزار جستجو و جایگزینی دسته‌ای
Comment[fi]=Batchien etsintä- ja korvaustyökalu
Comment[fr]=Un outil de recherche et de remplacement par lot
Comment[ga]=Uirlis chuardaigh/ionadaithe
Comment[gl]=Unha utilidade de busca e substitución por lotes
Comment[hne]=बैच खोज अउ बदल औजार
Comment[hu]=Fájlok kötegelt kezelésére alkalmas kereső- és cserélőprogram
Comment[is]=Tól til að leita að texta og skipta út
Comment[it]=Uno strumento per la ricerca e la sostituzione in sequenza
Comment[ja]=バッチ検索置換ツール
Comment[ko]=일괄 찾기 및 바꾸기 도구
Comment[lt]=Paketinis paieškos ir keitimo įrankis
Comment[lv]=Masveida meklēšanas un aizvietošanas rīks
Comment[ms]=Gugusan alatan cari dan ganti
Comment[nb]=Et verktøy for satsvis søk og erstatt
Comment[nds]=En Söök- un Utwesselwarktüüch för Stapelbedrief
Comment[ne]=एउटा समूह खोजी गर्ने र बदल्ने उपकरण
Comment[nl]=Een gereedschap voor zoeken en vervangen
Comment[nn]=Søk og erstatt i mange filer samtidig
Comment[pl]=Narzędzie do wsadowego wyszukiwania i zamiany
Comment[pt]=Uma ferramenta de procura e substituição em lote
Comment[pt_BR]=Uma ferramenta de pesquisa e substituição em lote
Comment[ro]=Unealtă de căutare și înlocuire în serie
Comment[ru]=Пакетный поиск и замена
Comment[sk]=Dávkovací nástroj pre nájsť a zameniť
Comment[sl]=Orodje serijskega iskanja in zamenjevanja
Comment[sv]=Ett sök- och ersättningsverktyg
Comment[ta]=தொகுதி தேடல் மற்றும் கருவி இடமாற்றல்
Comment[tg]=Ҷустуҷӯи пакет ва ивази асбоб
Comment[th]=เครื่องมือค้นหาและแทนที่
Comment[tr]=Bir toplu arama ve değiştirme aracı
Comment[uk]=Засіб пакетного пошуку та заміни
Comment[x-test]=xxA batch search and replace toolxx
Comment[zh_CN]=批量搜索替换工具
Comment[zh_HK]=批次搜尋及取代工具
Comment[zh_TW]=批次搜尋及取代工具
Name=KFileReplace
Name[hne]=के-फाइल-रिप्लेस
Name[ne]=केडीई फाइल प्रतिस्थापन
Name[sk]=KFile zameniť
Name[sv]=Kfilereplace
Name[ta]=Kகோப்பு இடமாற்று
Name[tg]=KФайлро ҷойгузор кардан
Name[th]=โปรแกรมค้นหาและแทนที่ KFileReplace
Name[x-test]=xxKFileReplacexx
GenericName=File Replace View
GenericName[ca]=Vista per a substituir fitxers
GenericName[cs]=Nahrazení souborů
GenericName[da]=Filerstatningsvisning
GenericName[de]=KFileReplace
GenericName[el]=Προβολή αντικατάστασης αρχείου
GenericName[es]=Vista de reemplazo de archivo
GenericName[et]=Failide asendamise vaade
GenericName[eu]=Fitxategi ordezkapen ikuspegia
GenericName[fa]=نمای جایگزینی پرونده
GenericName[fi]=Tiedoston korvausnäyttö
GenericName[fr]=Vue pour le remplacement de fichiers
GenericName[ga]=Amharc Ionadaithe Comhad
GenericName[gl]=Vista de substitución de ficheiro
GenericName[hne]=फाइल बदल दृस्य
GenericName[hu]=Fájlcserélő nézet
GenericName[is]=Texta útskiptingarsýn
GenericName[it]=Vista di sostituzione file
GenericName[ja]=ファイル置換ビュー
GenericName[ko]=파일 바꾸기 보기
GenericName[lt]=Keitimų failuose vaizdas
GenericName[lv]=Failu aizvietošanas skats
GenericName[ms]=Paparan Ganti Fail
GenericName[nb]=Filerstatt-visning
GenericName[nds]=Datei-Utwesselansicht
GenericName[ne]=फाइल बदल्ने दृश्य
GenericName[nl]=Weergave van bestanden vervangen
GenericName[nn]=Filerstattingsvising
GenericName[pa]=ਫਾਇਲ ਬਦਲੋ ਝਲਕ
GenericName[pl]=Widok zamiany w plikach
GenericName[pt]=Área de Substituição de Ficheiros
GenericName[pt_BR]=Visão de substituição de arquivos
GenericName[ru]=Средство поиска и замены в файлах
GenericName[sk]=Pohľad zámeny súboru
GenericName[sl]=Prikaz zamenjave datotek
GenericName[sv]=Filersättningsvy
GenericName[ta]=கோப்பு இடமாற்று காட்சி
GenericName[th]=มุมมองแทนที่แฟ้ม
GenericName[tr]=Dosya Değiştirme Görünümü
GenericName[uk]=Перегляд заміни в файлах
GenericName[x-test]=xxFile Replace Viewxx
GenericName[zh_CN]=文件替换视图
GenericName[zh_HK]=檔案取代檢視模式
GenericName[zh_TW]=檔案取代檢視
